* {
  padding: 0;
  margin: 0;
}
body {
  background: rgba(255, 196, 0, 0.658);
}
p {
  text-align: center;
}
.oyun {
  width: 800px;
  height: 350px;
  border: 2px solid rgba(104, 92, 57, 0.658);
  background: #fff;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
#run {
  position: absolute;
  width: 113px;
  height: 163px;
  background: url(images/run.jpg);
  bottom: 0;
}
.run-animate {
  animation: run 0.3s linear;
}
#fire {
  position: absolute;
  width: 52px;
  height: 70px;
  background: url(images/fire.jpg);
  bottom: 0;
  left: 747px;
}
.fire-animate {
  animation: fire 2s linear infinite;
}
@keyframes fire {
  0% {
    left: 775px;
  }
  100% {
    left: -40px;
  }
}
@keyframes run {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 70px;
  }
  75% {
    bottom: 70px;
  }
  100% {
    bottom: 0px;
  }
}
